---
const groups = [
  {
    title: 'הקבוצה הראשית- דיונים על כל מה שמעבר לטכני',
    link: 'https://chat.whatsapp.com/CAQ7EnWJJQF6z3SLMhE8ots',
    image:
      'https://pps.whatsapp.net/v/t61.24694-24/453989140_871459285043779_5727817202406695843_n.jpg?ccb=11-4&oh=01_Q5AaII8zCEZqliv8eQ6Gw1JlBFv3LDbCkhdkuW8EpFZ5d9p-&oe=67907D1F&_nc_sid=5e03e0&_nc_cat=110',
    description: ' הקבוצה הראשית- דיונים על כל מה שמעבר לטכני',
  },
  {
    title: 'פוסט ריוויו - קבלו ריוויו על הפוסט שלכם לפני הפרסום',
    link: 'https://chat.whatsapp.com/GrhVRS1kGZVGKRXTMtktAq',
    image:
      'https://pps.whatsapp.net/v/t61.24694-24/437708221_456588560461081_4651990565380993545_n.jpg?ccb=11-4&oh=01_Q5AaINjghVjU3vVJixPghninPdIT3liEzw4m-igSGBN5hAzU&oe=67907274&_nc_sid=5e03e0&_nc_cat=105',
    description: 'פוסט ריוויו - קבלו ריוויו על הפוסט שלכם לפני הפרסום',
  },
  {
    title: 'כותבים ומפרגנים לתוכן',
    link: 'https://lnkd.in/dsmCdXrt',
    image:
      'https://pps.whatsapp.net/v/t61.24694-24/389368984_816787316742139_5152822081859097373_n.jpg?ccb=11-4&oh=01_Q5AaIKQl8SwHulpA5Gpx9I2n2RhdXUO0H54EIQze6OrvRHMu&oe=67908CF9&_nc_sid=5e03e0&_nc_cat=106',
    description: 'כותבים ומפרגנים לתוכן',
  },
  {
    title: 'נפגשים במיטאפ',
    link: 'https://chat.whatsapp.com/DOINKYhviAbDSQXObQEfpjx',
    image:
      'https://pps.whatsapp.net/v/t61.24694-24/441374812_1143448166932537_8009495416736030112_n.jpg?ccb=11-4&oh=01_Q5AaIAfN5qM_tM9cDPPiXLCazObO4_IFau6-WLC0RVjKCXob&oe=6790A354&_nc_sid=5e03e0&_nc_cat=102',
    description: 'נפגשים במיטאפ',
  },
  {
    title: 'כלים למפתחים פרואקטיביים',
    link: 'https://chat.whatsapp.com/DOINKYhviAbDSQXObQEfpjx',
    image:
      'https://pps.whatsapp.net/v/t61.24694-24/441374812_1143448166932537_8009495416736030112_n.jpg?ccb=11-4&oh=01_Q5AaIAfN5qM_tM9cDPPiXLCazObO4_IFau6-WLC0RVjKCXob&oe=6790A354&_nc_sid=5e03e0&_nc_cat=102',
    description: 'כלים למפתחים פרואקטיביים',
  },
  {
    title: 'קבוצה טכנית (1)',
    link: 'https://chat.whatsapp.com/CAQ7EnWJJQF6z3SLMhE8ot',
    image:
      'https://pps.whatsapp.net/v/t61.24694-24/441374812_1143448166932537_8009495416736030112_n.jpg?ccb=11-4&oh=01_Q5AaIAfN5qM_tM9cDPPiXLCazObO4_IFau6-WLC0RVjKCXob&oe=6790A354&_nc_sid=5e03e0&_nc_cat=102',
    description: 'קבוצה טכנית (1)',
  },
  {
    title: 'קבוצה טכנית (2)',
    link: 'https://chat.whatsapp.com/CAQ7EnWJJQF6z3SLMhE8ot',
    image:
      'https://pps.whatsapp.net/v/t61.24694-24/441374812_1143448166932537_8009495416736030112_n.jpg?ccb=11-4&oh=01_Q5AaIAfN5qM_tM9cDPPiXLCazObO4_IFau6-WLC0RVjKCXob&oe=6790A354&_nc_sid=5e03e0&_nc_cat=102',
    description: 'קבוצה טכנית (2)',
  },
]
---

<div class="mx-auto my-8 flex flex-col rounded-md bg-gradient-accent p-0.5">
  <div class="flex flex-col gap-5 rounded-md bg-surface px-6 py-4 text-center">
    <h3 class="text-gradient mt-6 text-3xl font-bold leading-tight">קישורים לקבוצות הקהילה</h3>
    <ul class="flex flex-wrap justify-center gap-4">
      {
        groups.map((group) => (
          <li class="r mb-4 flex max-w-full flex-1 flex-col justify-between p-2 shadow-md shadow-slate-700 transition-all hover:scale-105">
            <div class="flex flex-col items-center">
              <img class="mb-4 max-w-[200px] rounded-md" src={group.image} alt={group.title} />
              <p class="text-lg hover:underline">{group.title}</p>
              <p class="text-sm">{group.description}</p>
            </div>
            <a
              class="mt-4 rounded-lg bg-[#5ECCD1] px-4 py-2 text-white hover:bg-[#5ECCD1]/80"
              href={group.link}
              target="_blank">
              הצטרף לקבוצה
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
