---
import CardContainer from '@components/astro/containers/CardContainer.astro'
import ImageContainer from '@components/astro/containers/ImageContainer.astro'
import Heading from '@components/astro/typography/Heading.astro'
import { cn } from '@utils/cn'
import { Image } from 'astro:assets'
import Button from '@components/astro/Button.astro'
import CommunityImg from '@assets/images/community-img.jpeg'
import PostReviewImg from '@assets/images/post-review.jpg'
import SupportContentImg from '@assets/images/support-content.jpg'
import MeetOnMeetupImg from '@assets/images/meet-on-meetup.jpg'
import ToolsForDevelopersImg from '@assets/images/tools-for-developers.jpg'

const groups = [
  {
    title: 'הקבוצה הראשית- דיונים על כל מה שמעבר לטכני',
    link: 'https://chat.whatsapp.com/CAQ7EnWJJQF6z3SLMhE8ot',
    image: CommunityImg,
    description: `מפתחים תותחים ותותחיות לא רק כותבים קוד!
    טל מוסקוביץ', אדיר קנדל ואורחים עוזרים למפתחים להישאר רלוונטיים ולפתח את עצמם:
- איך אני יכול להתבלט כמפתח, בצוות, בחברה ובחיפוש העבודה?
- איך מתכננים את הקפיצה הבאה בקריירה ולאן?
- איזה ערך מוסף ייחודי אני מביא לשולחן?
- איך לשפר את חווית הפיתוח שלי
כל מה שהוא פיתוח והוא לא טכני, על השולחן שלנו.
`,
  },
  {
    title: `פוסט ריוויו`,
    link: 'https://chat.whatsapp.com/GrhVRS1kGZVGKRXTMtktAq',
    image: PostReviewImg,
    description: `כמו קוד ריוויו, רק לפוסטים בלינקדאין. במקום ללמוד איך לכתוב בצורה אפקטיבית, ולקבל פידבק על פוסטים לפני פרסום.`,
  },
  {
    title: 'כותבים ומפרגנים לתוכן',
    link: 'https://chat.whatsapp.com/KnrinMGG99fFmgUTYboRHL',
    image: SupportContentImg,
    description: 'פרסמתם תוכן למפתחים ואתם צריכים חיבוק, לייק או תגובה? פרסמו אותו כאן',
  },
  {
    title: 'נפגשים במיטאפ',
    link: 'https://chat.whatsapp.com/DOINKYhviAbDSQXObQEfpj',
    image: MeetOnMeetupImg,
    description: 'כאן נפרסם מיטאפים וכנסים שווים באקוסיסטם, וגם אפשר לשאול מי בא ולאן',
  },
  {
    title: 'כלים למפתחים פרואקטיביים',
    link: 'https://chat.whatsapp.com/Kqwt0oItR30C01cnvedk4d',
    image: ToolsForDevelopersImg,
    description: `פה נדבר על כלים שעוזרים למפתחים בפיתוח אבל כמובן שלא רק!
גם כלים שעוזרים לנו להיות פרודוקטיביים ופרואקטיביים.`,
  },
]
---

<CardContainer className="mx-auto my-8 bg-black" showGradient>
  <Heading level={2} className="mb-8 text-center">קישורים לקבוצות הקהילה</Heading>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    {
      groups.map((group, index) => (
        <CardContainer
          className="group/card"
          containerClassName={cn([index === 0 && 'md:col-span-2'])}>
          <div class="flex h-full flex-col">
            <ImageContainer showGradient gradientOnlyOnHover parentContainerClassName="self-center">
              <Image
                src={group.image}
                alt={group.title}
                width={group.image.width}
                height={group.image.height}
                class="object-cover"
              />
            </ImageContainer>
            <div class="flex flex-1 flex-col gap-4 p-4">
              <Heading level={3} className="text-accent self-center">
                {group.title}
              </Heading>
              <p class="flex-1 text-lg">{group.description}</p>
              <Button variant="link" href={group.link} target="_blank" rel="noopener">
                הצטרף לקבוצה
              </Button>
            </div>
          </div>
        </CardContainer>
      ))
    }
  </div>
</CardContainer>
