---
const groups = [
  {
    title: 'פוסט ריוויו - קבלו ריוויו על הפוסט שלכם לפני הפרסום',
    link: 'https://chat.whatsapp.com/GrhVRS1kGZVGKRXTMtktAq',
    image: 'src/assets/images/post-review.jpg',
    description: `- לפני שמפרסמים פוסט / מאמר בלינקדאין לקבל עליו פידבק.`,
  },
  {
    title: 'כותבים ומפרגנים לתוכן',
    link: 'https://lnkd.in/dsmCdXrt',
    image: 'src/assets/images/support-content.jpg',
    description: 'כאן המקום לשתף פוסטים שכתבתם, לפרגן לאחרים.',
  },
  {
    title: 'נפגשים במיטאפ',
    link: 'https://chat.whatsapp.com/DOINKYhviAbDSQXObQEfpjx',
    image: 'src/assets/images/meet-on-meetup.jpg',
    description: ' המקום לפרסום מיטאפים ולשאול "מי בא.ה ל..."',
  },
  {
    title: 'כלים למפתחים פרואקטיביים',
    link: 'https://chat.whatsapp.com/DOINKYhviAbDSQXObQEfpjx',
    image: 'src/assets/images/tools-for-developers.jpg',
    description: `פה נדבר על כלים שעוזרים למפתחים בפיתוח אבל כמובן שלא רק!
גם כלים שעוזרים לנו להיות פרודוקטיביים ופרואקטיביים.`,
  },
  {
    title: 'הקבוצה הראשית- דיונים על כל מה שמעבר לטכני',
    link: 'https://chat.whatsapp.com/CAQ7EnWJJQF6z3SLMhE8ots',
    image: 'src/assets/images/community-img.jpeg',
    description: `מפתחים תותחים ותותחיות לא רק כותבים קוד!
    טל מוסקוביץ', אדיר קנדל ואורחים עוזרים למפתחים להישאר רלוונטיים ולפתח את עצמם:
- איך אני יכול להתבלט כמפתח, בצוות, בחברה ובחיפוש העבודה?
- איך מתכננים את הקפיצה הבאה בקריירה ולאן?
- איזה ערך מוסף ייחודי אני מביא לשולחן?
- איך לשפר את חווית הפיתוח שלי
כל מה שהוא פיתוח והוא לא טכני, על השולחן שלנו.
`,
  },
]
---

<div class="mx-auto my-8 flex flex-col rounded-md bg-gradient-accent p-0.5">
  <div class="flex flex-col gap-5 rounded-md bg-surface px-6 py-4 text-center">
    <h3 class="text-gradient mt-6 text-3xl font-bold leading-tight">קישורים לקבוצות הקהילה</h3>
    <ul class="flex flex-wrap justify-center gap-4">
      {
        groups.map((group) => (
          <li class="r mb-4 flex max-w-full flex-1 flex-col justify-between p-2 shadow-md shadow-slate-700 transition-all hover:scale-105">
            <div class="flex flex-col items-center">
              <img class="mb-4 max-w-[200px] rounded-md" src={group.image} alt={group.title} />
              <p class="text-lg hover:underline">{group.title}</p>
              <p class="text-sm">{group.description}</p>
            </div>
            <a
              class="mt-4 rounded-lg bg-[#5ECCD1] px-4 py-2 text-white hover:bg-[#5ECCD1]/80"
              href={group.link}
              target="_blank">
              הצטרף לקבוצה
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
