---
import EpisodeCardDescription from '@components/react/EpisodeCardDescription'
import type { Episode } from '@data/types/spotifyEpisodes'
import CardTitle from '@components/astro/CardTitle.astro'
import CardDate from '@components/astro/CardDate.astro'
import EpisodeShareButton from './EpisodeShareButton.astro'
import { cleanHtmlContent } from '@utils/cleanHtml'
import { Image } from 'astro:assets'
import ImageContainer from './containers/ImageContainer.astro'
import PlayButtonOverlay from '@components/astro/containers/PlayButtonOverlay.astro'
import { cn } from '@utils/cn'

interface Props extends Episode {
  expandable?: boolean
  show_iframe?: boolean
  clickable?: boolean
}

const {
  name,
  description,
  html_description,
  images,
  slug,
  release_date,
  iframe_url,
  thumbnail_url,
  expandable = true,
  show_iframe = true,
  clickable = true,
} = Astro.props
const episodeUrl = `/episodes/${slug}`
const cleanedHtmlDescription = cleanHtmlContent(html_description)
---

<article
  class="flex h-min flex-col overflow-hidden rounded-lg bg-surface p-6 text-base text-white"
>
  <div class={cn('relative w-full', show_iframe && 'aspect-video')}>
    {
      show_iframe ? (
        <iframe
          title={`פודקאסט לא טכני ולא במקרה - ${name}`}
          class="absolute inset-0 h-full w-full rounded-lg"
          src={iframe_url}
          allowfullscreen
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        />
      ) : (
        <ImageContainer variant="grid" parentContainerClassName="h-full w-full">
          <Image
            src={thumbnail_url || images[0]?.url || ''}
            alt={`תמונת כריכה לפרק ${name}`}
            width={640}
            height={360}
            loading="lazy"
            class="h-full w-full object-cover"
            format="webp"
          />
          <PlayButtonOverlay playButtonLink={episodeUrl} />
        </ImageContainer>
      )
    }
  </div>
  <div class="flex min-h-20 items-start pt-4">
    <CardTitle name={name} href={episodeUrl} clickable={clickable} />
  </div>
  <div class="flex items-center justify-between border-b border-white/10 pb-4">
    <CardDate date={release_date} />
    <EpisodeShareButton show_number={slug} episode_name={name} />
  </div>

  <EpisodeCardDescription
    description={description}
    html_description={cleanedHtmlDescription}
    expandable={expandable}
    client:load
  />
</article>
