---
import EpisodeCardDescription from '@components/react/EpisodeCardDescription'
import type { Episode } from '@data/types/spotifyEpisodes'
import Heading from '@components/astro/typography/Heading.astro'
import EpisodeShareButton from './EpisodeShareButton.astro'
interface Props extends Episode {
  expandable?: boolean
}

const { name, description, html_description, images, id, episode_number, release_date, expandable = true } = Astro.props
---

<div
  class="flex flex-col rounded-lg bg-surface p-6 text-base text-white shadow-inner shadow-white/10">
  <div class="pb-5">
    {id ? (
    <iframe
      style="border-radius:12px"
      src=`https://open.spotify.com/embed/episode/${id}/video?utm_source=generator`
      width="100%"
      height="300"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy">
    </iframe>
    ) : (
      <img src={images[0].url} alt={name} width="300" height="300" />
    )}
  </div>
  <Heading level={5}>
    {name}
  </Heading>
  <div class="flex items-center gap-2">
    <EpisodeShareButton show_number={episode_number} />
    <p class="text-sm text-gray-400 my-4">
      {new Date(release_date).toLocaleDateString('he-IL', { year: 'numeric', month: 'long', day: 'numeric' })}
    </p>
  </div>

  <EpisodeCardDescription
    description={description}
    html_description={html_description}
    expandable={expandable}
    client:load
  />

</div>


