---
import SectionContainer from '@components/astro/containers/SectionContainer.astro'
import Icon from '@components/astro/Icon.astro'
import type { IconNames } from '@data/types/icons'
import { ICONS } from '@data/types/icons'

interface FooterLink {
  label: string
  href: string
  icon: IconNames
}

interface Host {
  name: string
  href: string
  icon: IconNames
}

const footerData = {
  links: [
    {
      label: ICONS.spotify.label,
      href: 'https://open.spotify.com/show/331GnnQsHxjU7SjS1bFJnS?utm_medium=share&utm_source=linktree',
      icon: 'spotify',
    },
    {
      label: ICONS.applePodcasts.label,
      href: 'https://podcasts.apple.com/us/podcast/%D7%9C%D7%90-%D7%98%D7%9B%D7%A0%D7%99-%D7%95%D7%9C%D7%90-%D7%91%D7%9E%D7%A7%D7%A8%D7%94/id1724399310',
      icon: 'applePodcasts',
    },
    {
      label: ICONS.youtube.label,
      href: 'https://www.youtube.com/@lotechni',
      icon: 'youtube',
    },
    {
      label: 'קהילה',
      href: 'https://chat.whatsapp.com/CAQ7EnWJJQF6z3SLMhE8ot',
      icon: 'whatsapp',
    },
  ] satisfies FooterLink[],
  hosts: [
    {
      name: 'אדיר קנדל',
      href: 'https://www.linkedin.com/in/adir-kandel/',
      icon: 'linkedin',
    },
    {
      name: 'טל מוסקוביץ',
      href: 'https://www.linkedin.com/in/tmosko/',
      icon: 'linkedin',
    },
  ] satisfies Host[],
}
---

<SectionContainer outerClasses="mt-auto">
  <footer class="flex flex-col items-center gap-4 py-6">
    <p class="text-sm font-bold text-white">קישורים:</p>
    <!-- Platform Links -->
    <div class="grid grid-cols-2 place-content-center gap-6 lg:grid-cols-4">
      {
        footerData.links.map((link) => (
          <a
            href={link.href}
            target="_blank"
            class="group flex flex-col items-center justify-center gap-2 text-accent hover:text-accent-light">
            <Icon icon={link.icon} className={ICONS[link.icon].hoverColor} />
            {link.label}
          </a>
        ))
      }
    </div>
    <!-- Hosts on LinkedIn -->
    <div class="flex flex-col items-center text-center">
      <p class="text-sm font-bold text-white">טל ואדיר בלינקדאין:</p>
      <div class="mt-2 flex flex-wrap justify-center gap-6">
        {
          footerData.hosts.map((host) => (
            <a
              href={host.href}
              target="_blank"
              class="group flex flex-col items-center justify-center gap-2 text-accent hover:text-accent-light">
              <Icon icon={host.icon} className={ICONS[host.icon].hoverColor} />
              {host.name}
            </a>
          ))
        }
      </div>
    </div>
    <!-- Copyright  -->
    <div class="text-center">
      <p class="text-sm text-white">
        © {new Date().getFullYear()} לא טכני - כל הזכויות שמורות.
      </p>
      <p class="text-xs text-gray-400">נבנה באהבה ❤️ על ידי קהילת לא טכני.</p>
    </div>
  </footer>
</SectionContainer>
