---
import type { Newsletter } from '@data/types/newsletter'
import CardTitle from '@components/astro/CardTitle.astro'
import CardDate from '@components/astro/CardDate.astro'
import EpisodeShareButton from './EpisodeShareButton.astro'
import { Image } from 'astro:assets'
import ImageContainer from './containers/ImageContainer.astro'
import fallbackImg from '@assets/logos/podcast_artwork.png'

interface Props extends Newsletter {
  clickable?: boolean
  transparent?: boolean
}

const {
  id,
  name,
  subject,
  screenshot_url,
  sent_at,
  clickable = true,
  transparent = false,
} = Astro.props

const newsletterUrl = `/newsletters/${id}`
---

<article class:list={['flex h-min flex-col overflow-hidden rounded-lg', { 'bg-surface': !transparent }]}>
  <!-- Cover Image -->
  <ImageContainer variant="grid" parentContainerClassName="aspect-video w-full">
    {
      screenshot_url ? (
        <img
          src={screenshot_url}
          alt={`תמונת כריכה לניוזלטר ${name}`}
          loading="lazy"
          class="h-full w-full object-cover"
        />
      ) : (
        <Image
          src={fallbackImg}
          alt={`תמונת כריכה לניוזלטר ${name}`}
          width={640}
          height={360}
          loading="lazy"
          class="h-full w-full object-cover"
          format="webp"
        />
      )
    }
  </ImageContainer>

  <div class="flex flex-col gap-3 py-6">
    <!-- Title -->
    {!transparent && (
      <>
        <CardTitle name={name} href={newsletterUrl} clickable={clickable} />

        <!-- Subject -->
        <p class="line-clamp-3 text-sm text-gray-400">{subject}</p>
      </>
    )}

    <!-- Date + Share -->
    <div class="flex items-center justify-between border-t border-white/10 pt-4">
      <CardDate date={sent_at} />
      <EpisodeShareButton
        show_number={id}
        episode_name={name}
        share_url={`${Astro.url.origin}${newsletterUrl}`}
        toast_message="איזה כיף! קישור לניוזלטר הועתק"
      />
    </div>
  </div>
</article>
