---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getAccessToken, fetchEpisodes } from "../utils/spotify";
import { EpisodesResponseSchema } from "../types/spotifyEpisodes";
import EpisodeCard from "../components/EpisodeCard.astro";
import Logo from "../images/logo.svg";
import DescriptionCard from "../components/DescriptionCard.astro";
import AdirImg from "../images/adir.jpeg";
import TalImg from "../images/tal.jpeg";

const show = await fetchEpisodes(import.meta.env.PUBLIC_SPOTIFY_SHOW_ID);

const parsedEpisodes = show.episodes.items.reverse();
---

<Layout title=`${show.name}`>
  <img src={Logo.src} alt=`${show.name} logo` class="logo-image" />
  <h1 class="text-gradient">{show.name}</h1>
  <DescriptionCard>
    {show.description}
  </DescriptionCard>
</Layout>
<ul role="list" class="link-card-grid">
  <Card
    title="טל מוסקוביץ"
    body="אדיר שונא ריאקט ואנשים, או אני מוזמן להיות אדיר קנדל באינטרנט. אם הוא מוזמן להיות אדיר קנדל, הוא יכול להיות אדיר קנדל. אם הוא לא מוזמן להיות אדיר קנדל, הוא לא יכול להיות אדיר קנדל."
  >
    <img
      class="host-card__image"
      slot="right-side"
      src={TalImg.src}
      alt="Docs"
    />
  </Card>
  <Card
    title="אדיר קנדל"
    body="אדיר שונא ריאקט ואנשים, או אני מוזמן להיות אדיר קנדל באינטרנט. אם הוא מוזמן להיות אדיר קנדל, הוא יכול להיות אדיר קנדל. אם הוא לא מוזמן להיות אדיר קנדל, הוא לא יכול להיות אדיר קנדל."
  >
    <img
      class="host-card__image"
      slot="right-side"
      src={AdirImg.src}
      alt="Docs"
    />
  </Card>
</ul>

<ul role="list" class="link-card-grid">
  {parsedEpisodes.map((episode) => <EpisodeCard {...episode} />)}
</ul>

<style is:global>
  main {
    margin: auto;
    padding: 1rem;
    /* max-width: calc(100% - 3rem); */
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .host-card__image {
    width: auto;
    height: 10rem;
    border-radius: 100%;
  }

  .logo-image {
    margin: auto;
    width: 18rem;
    height: auto;
    display: block;
  }
</style>
