---
import CardContainer from '@components/astro/containers/CardContainer.astro'
import ImageContainer from '@components/astro/containers/ImageContainer.astro'
import Heading from '@components/astro/typography/Heading.astro'
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import { cn } from '@utils/cn'
import Icon from '@components/astro/Icon.astro'
import type { SocialLink } from '@data/types/icons'

interface Props {
  name: string
  image: ImageMetadata
  description: string
  socials: SocialLink[]
  reversed?: boolean
}

const { name, image, description, socials, reversed = false } = Astro.props
---

<CardContainer className="group/card relative">
  <div class={cn('flex flex-col gap-4 md:flex-row', reversed && 'md:flex-row-reverse')}>
    <ImageContainer showGradient gradientOnlyOnHover>
      <Image class="block aspect-square h-full min-w-40 md:max-w-48" src={image} alt={name} />
    </ImageContainer>
    <div class="flex flex-col gap-4">
      <Heading level={3} className="text-accent">{name}</Heading>
      <p class="text-lg">
        {description}
      </p>
    </div>
  </div>
  <div class="bottom-0 left-0 right-0 flex justify-center gap-4 pt-4 lg:absolute">
    {
      socials.map(({ icon, url }) => (
        <a href={url} target="_blank" rel="noopener">
          <Icon icon={icon} className="hover:text-accent" />
        </a>
      ))
    }
  </div>
</CardContainer>
